/* BassCSS Breakpoints */
$sm: 40em;
$md: 52em;
$lg: 64em;

$small-up: "(min-width:#{$sm})";
$medium-up: "(min-width:#{$md})";
$large-up: "(min-width:#{$lg})";

/* Globals */
$footerHeight: 277px;
$mobileFooterHeight: 520px;
$headerHeight: 62px;
$mobileHeaderHeight: 82px;
$titleBarHeight: 125px;

/* Colors */
$colors: (
'black': #000,
'white': #fff,
'grey':  #ECEAEA,
'red':   #D0021B,
);
