//Settings
@import 'variables';

//Globals
@import 'global/mixins';
@import 'global/type';
@import 'global/util';
@import 'global/colors';

//Routes
@import 'routes/index';
@import 'routes/work';
@import 'routes/work-show';
@import 'routes/info';
@import 'routes/shop';

//Partials
@import 'partials/header';
@import 'partials/mobile-header';
@import 'partials/home-block';
@import 'partials/info-work-scroll';
@import 'partials/info-subsection';
@import 'partials/image';
@import 'partials/prev-next-select';

* { -webkit-font-smoothing: antialiased; }
html, body {
  height: 100%;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
