//Settings
@import 'variables';

//Globals
@import 'global/mixins';
@import 'global/type';
@import 'global/util';
@import 'global/colors';

//Routes
@import 'routes/index';
@import 'routes/work';
@import 'routes/work-show';
@import 'routes/info';
@import 'routes/shop';

//Partials
@import 'partials/header';
@import 'partials/mobile-header';
@import 'partials/footer';
@import 'partials/home-block';
@import 'partials/info-work-scroll';
@import 'partials/info-subsection';
@import 'partials/image';
@import 'partials/prev-next-select';
@import 'partials/image-slider';

* { -webkit-font-smoothing: antialiased; box-sizing: border-box; }
html, body {
  height: 100%;
}
a {
  text-decoration: none;
  border-bottom: solid 3px;
  padding-bottom: 2px;
  display: inline-block;
  pointer-events: auto;
  color: inherit;
}

.reset-link {
  border-bottom: none;
  display: inline;
  padding-bottom: 0;
  text-decoration: none;
}

input, button {
  &:focus { outline:0; }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: color('black');
}
::-moz-placeholder { /* Firefox 19+ */
  color: color('black');
}
:-ms-input-placeholder { /* IE 10+ */
  color: color('black');
}
:-moz-placeholder { /* Firefox 18- */
  color: color('black');
}
