h1, h2, h3, h4, h5, h6, p, li, input, select {
  font-size: 25px;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  margin: 0;
  font-weight: 400;
  @media #{$large-up} {
    font-size: 35px;
  }
}

.small {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 20px;
  @media #{$large-up} {
    font-size: 25px;
    letter-spacing: 2px;
  }
}

p, li, a {
  letter-spacing: 0.077px;
  line-height: 32px;

  @media #{$large-up} {
    letter-spacing: 0.77px;
    line-height: 48px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 32px;
}

.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
