{% set playlab = cms.playlab %}
<div class="footer-spacer"></div>
<footer id="footer" class='flex col-12 fixed bottom-0 z0'>
  <div class='md-left-column flex flex-column justify-between col-12 md-col-6'>
    <div class="col-12">
      <p>@playlabinc</p>
      <p>office@playlab.org</p>
    </div>
    <div class='col-12'>
      <form class="submit-wrapper p2" action={{playlab.mailchimp_action}} method="post" target="_blank" novalidate>
        <input class="xs-hide sm-hide col-8 overflow-ellipsis" type="email" value="" name="EMAIL" placeholder="Subscribe to our newsletter"/>
        <input class="md-hide lg-hide col-8 overflow-ellipsis" type="email" value="" name="EMAIL" placeholder="Subscribe"/>
        <button>
          <svg class="sm-hide md-hide" xmlns="http://www.w3.org/2000/svg" width="176" height="18" viewBox="0 0 176 18">
            <g fill="none" fill-rule="evenodd" stroke="#000" stroke-width="1.5" transform="translate(1)">
              <path stroke-linecap="square" d="M0.499748644,8.79411765 L172.577132,8.79411765"/>
              <polyline points="159.236 3.176 159.236 3.176 170.836 3.176 170.836 14.824" transform="rotate(45 165.036 9)"/>
            </g>
          </svg>
          <svg class="xs-hide lg-hide" xmlns="http://www.w3.org/2000/svg" width="58" height="18" viewBox="0 0 58 18">
            <g fill="none">
              <g stroke="#000">
                <path d="M0.5 9L56.6 9"/>
                <polyline transform="translate(49.036364 9)rotate(-315)translate(-49.036364 -9)" points="43.2 3.2 43.2 3.2 54.8 3.2 54.8 14.8"/>
              </g>
            </g>
          </svg>
        </button>
      </form>
    </div>
  </div>
  <div class='md-right-column col-12 md-col-6 flex justify-between flex-column'>
    <div class="flag-container flex flex-row justify-between">
      <div class="xs-hide sm-col-9 md-col-8 mb4">
        <p>244 Canal St. 3F</p>
        <p>New York, NY</p>
      </div>
      <div class="col-12 sm-col-3 md-col-4 lg-col-3 max-width-1">
        <div class="flag-trigger image-block col-12 pointer Flag">
          <div class="usa content image shadow"
               style='background-image: url(/static/images/usa.jpg)'>
          </div>
          <div class="russia flag content image shadow"
               style='background-image: url(/static/images/russia.jpg)'>
          </div>
          <div class="brazil flag content image shadow"
               style='background-image: url(/static/images/brazil.jpg)'>
          </div>
        </div>
      </div>
    </div>
    <div class="social-container col-5 md-col-8">
      <ul class="social-list flex list-reset m0">
        <li class="pr3"><a href={{playlab.instagram}} target="_blank" class="link-thin">Instagram</a></li>
        <li class="pr3"><a href={{playlab.twitter}} target="_blank" class="link-thin">Twitter</a></li>
        <li class="pr3"><a href={{playlab.facebook}} target="_blank" class="link-thin">Facebook</a></li>
      </ul>
    </div>
  </div>
</footer>
