<header id="header" class='header default-nav clearfix col-12 z3 fixed top-0'>
  <nav class="col-12 clearfix p2">
    <a href="/" class="reset-link col md-col-4"><h1 class='py1 pl2 left-align regular'>PLAYLAB, INC.</h1></a>
    <ul class='nav-menu col md-col-4 h1 m0 flex justify-around list-reset'>
      <a href="/work" class="reset-link">
        <li data-route="work" class='nav-link'>Work<span class="select">{% include "templates/partials/select.html" %}</span></li>
      </a>
      <a href="/info" class="reset-link">
        <li data-route="info" class='nav-link'>Info<span class="select">{% include "templates/partials/select.html" %}</span></li>
      </a>
      <a href="/shop" class="reset-link">
        <li data-route="shop" class='nav-link'>Shop<span class="select">{% include "templates/partials/select.html" %}</span></li>
      </a>
    </ul>
    <h3 class='py1 pr2 right-align regular col md-col-4'>917-979-3489<h3>
  <nav>
</header>
