<header id="header" class='col-12 z2 py2 fixed top-0 flex items-center'>
  <a href="/" class="md-col-4 lg-col-3"><h1 class='h1 pl2 left-align regular'>PLAYLAB, INC.</h1></a>
  <ul id="nav-menu" class='md-col-4 lg-col-6 h1 m0 flex justify-around list-reset'>
    <a href="/work"><li class='h1'>Work</li></a>
    <a href="#"><li class='h1'>Info</li></a>
    <a href="#"><li class='h1'>Shop</li></a>
  </ul>
  <a href="#" class="md-col-4 lg-col-3"><h3 class='h1 pr2 right-align regular'>917-979-3489<h3></a>
</header>
