<header id="header" class='col-12 z3 py2 fixed top-0 flex items-center'>
  <a href="/" class="md-col-4 lg-col-3"><h1 class=' pl2 left-align regular'>PLAYLAB, INC.</h1></a>
  <ul id="nav-menu" class='md-col-4 lg-col-6 h1 m0 flex justify-around list-reset'>
    <a href="/work"><li data-route="work" class='nav-link'>Work</li></a>
    <a href="/info"><li data-route="info" class='nav-link'>Info</li></a>
    <a href="/shop"><li data-route="shop" class='nav-link'>Shop</li></a>
  </ul>
  <a href="#" class="md-col-4 lg-col-3"><h3 class='pr2 right-align regular'>917-979-3489<h3></a>
</header>
