{% set playlab = cms.playlab %}
{% if section.title === 'people' %}
  <div id={{section.title}} class="col-12 md-col-9 mx-auto py1 flex flex-wrap">
    <div class="col-12 md-col-5">
      <h2 class="center md-hide lg-hide capitalize py2">{{section.title}}</h2>
      <ul class="list-reset left-align">
      {% for item in section.left_column %}
        <li>{{item.title}}</li>
      {% endfor %}
      </ul>
    </div>
    <div class="col-12 md-col-5">
      <ul class="list-reset left-align">
      {% for item in section.right_column %}
        <li>{{item.title}}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% elseif section.title === 'services' %}
    <div id={{section.title}} class="col-12 md-col-9 mx-auto py1 flex flex-wrap">
      <div class="col-12 md-col-5">
        <h2 class="center md-hide lg-hide capitalize py2">{{section.title}}</h2>
        <ul class="list-reset left-align">
        {% for item in section.left_column %}
          <li>{{item.title}}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-12 md-col-5">
        <ul class="list-reset left-align">
        {% for item in section.right_column %}
          <li>{{item.title}}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  {% elseif section.title === 'clients' %}
  <div id={{section.title}} class="col-12 md-col-9 mx-auto py1 flex flex-wrap">
    <div class="col-12 md-col-5">
      <h2 class="center md-hide lg-hide capitalize py2">{{section.title}}</h2>
      <ul class="list-reset left-align">
      {% for item in section.left_column %}
        <li class="hanging-indent">{{item.title}}</li>
      {% endfor %}
      </ul>
    </div>
    <div class="col-12 md-col-5">
      <ul class="list-reset left-align">
      {% for item in section.right_column %}
        <li class="hanging-indent">{{item.title}}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% elseif section.title === 'talks-and-exhibits' %}
    <div id={{section.title}} class="col-12 md-col-9 pt4 mx-auto">
      <h2 class="center md-hide lg-hide capitalize py2">{{section.title}}</h2>
      <ul class="col-12 list-reset left-align">
      {% for item in section.left_column %}
        <li class="pb4 relative">
          <p>{{item.title|safe}}</p>
          <p>
            {% if item.link_text %}
              {% if item.link_url %}
                <a class="image-trigger link-style mr1" href={{item.link_url}} target="_blank">{{item.link_text}}</a>
                {% else %}
                <span class="image-trigger link-style mr1">{{item.link_text}}</span>
              {% endif %}
            {% endif %}
            {% if item.content %}
              <span>{{item.content}}</span>
            {% endif %}
          </p>
          {% if item.image %}
            {% if item.orientation === 'portrait' %}
              <img class="hover-image absolute" src="{{item.image|imageSize(300, 427) }}" />
            {% else %}
              <img class="hover-image absolute" src="{{item.image|imageSize(427, 300) }}" />
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  {% elseif section.title === 'contact' %}
    <div id={{section.title}} class="col-12 md-col-9 mx-auto py1 flex flex-wrap">
      <div class="col-12 md-col-5">
        <h2 class="center md-hide lg-hide capitalize py2">{{section.title|safe}}</h2>
        <ul class="list-reset left-align">
        {% for item in section.left_column %}
          <li class="pb4">
            <p>{{item.title|safe}}</p>
            <p>{{item.content|safe}}</p>
          </li>
        {% endfor %}
          <li>
            <form class="submit-wrapper p2" action={{playlab.mailchimp_action}} method="post" target="_blank" novalidate>
              <input class="col-8 overflow-ellipsis" type="email" value="" name="EMAIL" placeholder="Subscribe"/>
              <button>
                <svg class="xs-hide sm-hide md-hide" xmlns="http://www.w3.org/2000/svg" width="176" height="18" viewBox="0 0 176 18">
                  <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-width="1.5" transform="translate(1)">
                    <path stroke-linecap="square" d="M0.499748644,8.79411765 L172.577132,8.79411765"/>
                    <polyline points="159.236 3.176 159.236 3.176 170.836 3.176 170.836 14.824" transform="rotate(45 165.036 9)"/>
                  </g>
                </svg>
                <svg class="lg-hide" xmlns="http://www.w3.org/2000/svg" width="58" height="18" viewBox="0 0 58 18">
                  <g fill="none">
                    <g stroke="#FFF">
                      <path d="M0.5 9L56.6 9"/>
                      <polyline transform="translate(49.036364 9)rotate(-315)translate(-49.036364 -9)" points="43.2 3.2 43.2 3.2 54.8 3.2 54.8 14.8"/>
                    </g>
                  </g>
                </svg>
              </button>
            </form>
          </li>
        </ul>
      </div>
      <div class="col-12 md-col-5">
        <ul class="list-reset left-align">
        {% for item in section.right_column %}
          {% if item.image.url %}
          <li class="pb4">
            <div class="image-block mx-auto my4">
              <img class="col-12" src="{{item.image.url}}"/>
            </div>
          </li>
          {% endif %}
          <li>
            <p>{{item.title|safe}}</p>
            <p>{{item.content|safe}}</p>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
{% endif %}
