<div id="mobile-header" class="relative">
  <header class='mobile-nav-bar md-hide z3 fixed top-0 col-12'>
    <div class="clearfix col-12 py2">
      <a href="/" class="col col-8"><h1 class='pl2 left-align regular'>PLAYLAB, INC.</h1></a>
      <div class="col col-4 flex align-center pr1 justify-end">
        <button class="hamburger">
          <span class="top"></span>
          <span class="middle"></span>
          <span class="bottom"></span>
        </button>
      </div>
    </div>
  </header>
  <div class="mobile-menu col-12 z3 fixed bg-black white">
    <ul class="p0 mt3">
      <a href="/work" class="pointer"><li class='mb1'>Work</li></a>
      <a href="/info" class="pointer"><li class='mb1'>Info</li></a>
      <a href="/shop" class="pointer"><li class='mb1'>Shop</li></a>
    </ul>
  </div>
</div>
