<div id="mobile-header" class="'relative'">
  <header class='mobile-nav-bar md-hide col-12 z2 py2 fixed top-0 flex items-center'>
    <a href="/" class="col-8"><h1 class='h1 pl2 left-align regular'>PLAYLAB, INC.</h1></a>
    <div class="col-4 flex align-center pr1 justify-end">
      <button class="hamburger">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </button>
    </div>
  </header>
  <div class="mobile-menu col-12 z2 fixed bg-black white">
    <ul class="p0">
      <a href="/work" class="pointer"><li class='h1 mb1'>Work</li></a>
      <a href="#" class="pointer"><li class='h1 mb1'>Info</li></a>
      <a href="#" class="pointer"><li class='h1 mb1'>Shop</li></a>
    </ul>
  </div>
</div>
