{% set prev = prevItem(item, 'type', false) %}
{% set next = nextItem(item, 'type', false) %}

<div class="prev-next-select col-12 mx-auto flex justify-between">
  <div class="prev-wrapper col-4 md-col-3 center p2">
    {% if prev %}
      <a class="prev-pj" href={{url(prev)}}>
        <p>Previous</p>
        <div class="pj-image xs-hide sm-hide image-block col-12 Landscape">
          <div class="content image"
               style='background-image: url({{prev.thumbnail.image.url}})'>

          </div>
        </div>
      </a>
    {% endif %}
  </div>
  <div class="next-wrapper col-4 md-col-3 center p2">
    {% if next %}
      <a class="next-pj" href={{url(next)}}>
        <p>Next</p>
        <div class="pj-image xs-hide sm-hide image-block col-12 Landscape">
          <div class="content image"
               style='background-image: url({{next.thumbnail.image.url}})'>

          </div>
        </div>
      </a>
    {% endif %}
  </div>
</div>
