#info {
  .info-header {
    display: none;

    @media #{$medium-up} {
      display: block;
      .info-tab {
        &.active-tab:after {
          content: url('/static/images/bullet-white_small.svg');
          color: white;
          position: absolute;
          margin-left: 10px;
          @media #{$large-up} {
            content: url('/static/images/bullet-white.svg');
          }
        }
      }
    }
  }
}
