#shop {
  height: 100%;
  .product {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    .product-details {
      position: absolute;
      top: 25%;
      left:  50px;
    }

    .product-purchase {
      position: absolute;
      padding: 4rem;
      bottom: 0;
      right: 0;
    }

    @media #{$medium-up} {
      .product-details {
        display: none;
        position: fixed;
        z-index: 3;
      }

      .product-purchase {
        position: fixed;
        transition: 250ms ease-in-out;
        display: none;
        z-index: 3;
      }

      &.in-view {
        .product-details {
          display: block;
        }

        .product-purchase {
          display: block;
        }
      }
    }
  }
}
