#shop {
  height: 100%;
  .product {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;

    .product-details {
      position: absolute;
      top: 25%;
      left: 1rem;
      .title {
        font-weight: normal                                                                            ;
        text-transform: uppercase;
      }
      @media #{$medium-up} {
        left: 2rem;
      }
    }

    .product-purchase {
      .quant {
        background: transparent;
        color: color('white');
        border: none;
        border-bottom: solid 3px color(white);
      }
      button {
        background-color: transparent;
        padding: 1rem 2rem;
        border: solid 1px color('white');
      }
    }

    @media #{$medium-up} {
      padding-top: $titleBarHeight;

      .product-header {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        height: $titleBarHeight;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: -$titleBarHeight;
        &.next {
          cursor: pointer;
          transition: 250ms ease-in-out;
          position: fixed;
          transform: translateY(-50px);
          top: auto;
          &:hover {
            transform: translateY(-70px);
          }
        }
      }
    }
  }
}
