#shop {
  height: 100%;
  .product-image-container {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .gradient-overlay {
    opacity: 0;
    &.show {
      opacity: 1;
    }
  }
  .product {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;

    .product-details {
      position: absolute;
      top: 25%;
      left: 1rem;
      .title {
        font-weight: normal                                                                            ;
        text-transform: uppercase;
      }
      @media #{$medium-up} {
        left: 2rem;
      }
    }

    .product-purchase {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      padding: 2rem 1rem;
      bottom: 0;
      button {
        background-color: transparent;
        padding: 1rem 2rem;
        border: solid 1px color('white');
      }

      @media #{$medium-up} {
        width: auto;
        display: block;
        right: 0;
        padding: 6rem 2rem;
        button {
          margin-top: 2rem;
          background-color: transparent;
          padding: 1rem 2rem;
          border: solid 1px color('white');
        }
      }
    }

    @media #{$medium-up} {
      background-size: 0;
      .product-details {
        display: none;
        position: fixed;
        z-index: 3;
      }

      .product-purchase {
        position: fixed;
        transition: 250ms ease-in-out;
        display: none;
        z-index: 3;
      }

      &.in-view {
        .product-details {
          display: block;
        }

        .product-purchase {
          display: block;
        }
      }
    }
  }
}
