#work-show {
  -webkit-transform: translate3d(0, 0, 0);

  .featured-image, .one-up {
    display: block;
    width: 100%;
    margin: 0 auto;

    @media #{$large-up} {
      max-height: $sliderMaxHeight;
      width: auto;
    }
  }

  .image-slider-container {
    margin-bottom: 1em;

    @media #{$medium-up} {
      margin-bottom: 0;
    }
  }

  .work-block {
    @media #{$medium-up} {
      margin-top: 0;
    }
  }

  .image-block + p {
    line-height: 35px;
  }
}
