#work-show {
  -webkit-transform: translate3d(0, 0, 0);

  .featured-image, .one-up {
    display: block;
    width: 100%;
    margin: 0 auto;

    @media #{$large-up} {
      max-height: $sliderMaxHeight;
      width: auto;
    }
  }

  .work-block {
    margin-top: 1em;

    &.image-two-up {
      margin-top: 0;

      > div {
        margin-top: 1em;

        @media #{$medium-up} {
          margin-top: 0;
        }
      }
    }

    @media #{$medium-up} {
      margin-top: 0;
    }
  }

  .image-block {
    img {
      max-width: 100%;
      width: 100%;
    }

    + p {
      line-height: 25px;

      @media #{$medium-up} {
        line-height: 35px;
      }
    }
  }
}
