/* BassCSS Breakpoints */
/* Globals */
/* Colors */
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  margin: 0;
}

p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 2.2rem;
}

.full {
  width: 100%;
}

.footer-room {
  margin-bottom: 200px;
}

.site-min-height {
  min-height: 100vh;
}

.mt-footer-height {
  margin-top: 200px;
}

.pointer {
  cursor: pointer;
}

.black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.border-black {
  border-color: #000;
}

.stroke-black {
  stroke: #000;
}

.white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.border-white {
  border-color: #fff;
}

.stroke-white {
  stroke: #fff;
}

.grey {
  color: #ECEAEA;
}

.bg-grey {
  background-color: #ECEAEA;
}

.border-grey {
  border-color: #ECEAEA;
}

.stroke-grey {
  stroke: #ECEAEA;
}

#work .sticky-project-wrapper {
  position: relative;
}
#work .sticky-project-wrapper.projects-stick {
  padding-top: 0;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
#work .sticky-archive-wrapper {
  height: 80vh;
  overflow: hidden;
  float: left;
  width: 100%;
  position: relative;
}
#work .sticky-archive-wrapper .archive-header {
  height: 62.5px;
}
#work .sticky-archive-wrapper .archive-header.fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  top: 98%;
}
#work .sticky-archive-wrapper.scrolling {
  overflow: scroll;
}

#header {
  display: none;
}
#header .h1 {
  background-color: transparent;
  color: #000;
  mix-blend-mode: difference;
}
#header #nav-menu.animated {
  will-change: transform;
  transition: transform 500ms linear;
}
#header #nav-menu.slide-down {
  transform: translateY(0%);
}
#header #nav-menu.slide-up {
  transform: translateY(-500%);
}
@media (min-width: 52em) {
  #header {
    display: flex;
  }
}

#mobile-header {
  display: flex;
}
#mobile-header header {
  box-sizing: border-box;
  height: 82px;
}
#mobile-header header.active {
  background: #000;
  color: #fff;
}
#mobile-header .hamburger {
  postion: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
}
#mobile-header .hamburger span {
  display: inline-block;
  width: 35px;
  height: 3px;
  margin: 0.25em 0;
  background: #000;
}
#mobile-header .hamburger.active span {
  background: #fff;
}
#mobile-header .hamburger.active .top {
  position: absolute;
  transform: rotate(-35deg);
}
#mobile-header .hamburger.active .middle {
  transform: scale(0);
  opacity: 0;
}
#mobile-header .hamburger.active .bottom {
  position: absolute;
  transform: rotate(35deg);
  bottom: 44%;
}
#mobile-header .hamburger:focus {
  outline: 0;
}
#mobile-header .mobile-menu {
  position: fixed;
  top: 82px;
  left: 0;
  right: 0;
  min-height: 200px;
  opacity: 0;
  visibility: hidden;
}
#mobile-header .mobile-menu ul {
  list-style: none;
  text-align: center;
}
#mobile-header .mobile-menu.is-showing {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 52em) {
  #mobile-header {
    display: none;
  }
}

.home-block {
  padding-top: 125px;
  position: relative;
}
.home-block .title-bar {
  height: 125px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.home-block .title-bar.next {
  position: fixed;
  bottom: -62.5px;
  top: auto;
}
@media (min-width: 52em) {
  .home-block:last-of-type {
    margin-bottom: 200px;
  }
}

* {
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
