#footer {
  flex-direction: column;
  padding: 2rem 1rem;
  .submit-wrapper {
    display: flex;
    border: solid 1px color('black');
    justify-content: space-between;
    margin-top: 1rem;
    input {
      border: none;
      background: none;
      flex-grow: 1;
    }
    input[placeholder] {
      color: color('black') !important;
    }
    button {
      display: flex;
      border: none;
      background: none;
    }
  }
  .flag {
    opacity: 0;
    transition: 250ms ease-in-out;
    &.is-showing {
      opacity: 1;
    }
  }
  .flag-container {
    order: 2;
  }
  .social-container {
    margin: 1rem 0;
    order: 1;
    .social-list {
      flex-direction: column;
    }
  }

  @media #{$small-up} {
    flex-direction: row;
    padding-right: 2rem;
    padding-left: 2rem;

    .submit-wrapper {
      margin-top: 0;
    }

    .md-left-column {
      padding-right: 4rem;
    }

    .flag-container {
      order: 1;
    }
    .social-container {
      margin: 0;
      order: 2;
      .social-list {
        flex-direction: row;
      }
    }

  }
}
