#header {
  display: none;
  .h1 {
    background-color: transparent;
    color: #000;
    mix-blend-mode: difference;
  }

  #nav-menu {
    &.animated {
      will-change: transform;
      transition: transform 500ms linear;
    }
    &.slide-down {
      transform: translateY(0%);
    }
    &.slide-up {
      transform: translateY(-500%);
    }
  }

  @media #{$medium-up} {
    display: flex;
  }
}
