.header {
  display: none;
  .h1 {
    background-color: transparent;
  }
  .midnightHeader {
    &.transparent {
      background-color: transparent;
      color: color('white');
    }
    &.default {
      background-color: color('white');
      color: color('black');
    }
  }

  .nav-menu {
    padding: 0.5rem 0;
    &.animated {
      will-change: transform;
      transition: transform 500ms linear;
    }
    &.slide-down {
      transform: translateY(0%);
    }
    &.slide-up {
      transform: translateY(-500%);
    }
    .nav-link {
      .select {
        display: inline-block;
        margin-left: 5px;
        opacity: 0;
        transition: 250ms ease-in-out;
        &.active {
          opacity: 1;
        }
        svg {
          width: 12px;
          @media #{$large-up} {
            width: 16px;
          }
        }
      }
    }
    @media #{$large-up} {
      padding: 0;
    }
  }

  @media #{$medium-up} {
    display: flex;
  }
}
