.home-block {
  padding-top: $titleBarHeight;
  position: relative;
  .title-bar {
    height: $titleBarHeight;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -$titleBarHeight;
    &.next {
      cursor: pointer;
      transition: 250ms ease-in-out;
      position: fixed;
      transform: translateY(-50px);
      top: auto;
      &:hover {
        transform: translateY(-70px);
      }
    }
  }
}
