#info-subsection {
  #people,
  #services,
  #clients,
  #talks-and-exhibits,
  #contact {
    .submit-wrapper {
      display: flex;
      border: solid 1px color('white');
      justify-content: space-between;
      margin-top: 1rem;
      input {
        border: none;
        background: none;
        flex-grow: 1;
      }
      input::-webkit-input-placeholder { color: color('white') !important; }
      input:-moz-placeholder { color: color('white') !important; }
      input::-webkit-input-placeholder { color: color('white') !important; }
      input::-ms-input-placeholder { color: color('white') !important; }
      button {
        display: flex;
        border: none;
        background: none;
      }
    }

    @media #{$medium-up} {
      display: none;
      opacity: 0;
      visibility: hidden;
      &.active-content {
        display: flex;
        opacity: 1;
        visibility: visible;
      }
      div:first-of-type {
        margin-right: 16%;
      }
    }
  }

  .hover-image {
    display: none;
    @media #{$medium-up} {
      display: block;
      opacity: 0;
      top:  0;
      right: 0;
      transition: 250ms ease-in-out;
      &.is-showing {
        opacity: 1;
      }
    }
  }
}
