.sticky-top-wrapper {
  @media #{$medium-up} {
    padding-bottom: 10rem;
    position: relative;
    &.top-stick {
      width: 100%;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.sticky-bottom-wrapper {
  @media #{$medium-up} {
    &.work { height: 92vh }
    &.info { height: 82vh; }
    width: 100%;
    overflow:hidden;
    float: left;
    position: relative;
    .bottom-header {
      z-index: 1;
      height: 110px;
      &.fixed-bottom {
        transition: 250ms ease-in-out;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(72px);
        &:hover {
          transform: translateY(46px);
        }
      }
    }
    &.scrolling {
      overflow: scroll;
    }
  }
}
