#info-subsection {
  #people,
  #services,
  #clients,
  #talks-and-exhibits,
  #contact {
    display: none;
    opacity: 0;
    visibility: hidden;
    &.active-content {
      display: flex;
      opacity: 1;
      visibility: visible;
    }
    div:first-of-type {
      margin-right: 16%;
    }
  }
}
