#mobile-header {
  display: flex;
  header {
    box-sizing: border-box;
    height: $mobileHeaderHeight;
    &.active {
      background: color('black') !important;
      .midnightHeader {
        background: color('black') !important;
        color: color('white') !important;
        .hamburger {
          span {
            background-color: color('white') !important;
          }
        }
      }
    }
    .midnightHeader {
      &.default {
        background: color('white');
        color: color('black');
      }
      &.transparent {
        background-color: transparent;
        color: color('white');
        span {
          background: color('white');
        }
      }
      &.white {
        background-color: color('black');
        color: color('white');
        span {
          background: color('white');
        }
      }
    }
  }

  .hamburger {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    min-height: 24px;
     span {
       display: inline-block;;
       width: 30px;
       height: 2px;
       margin: 0.20em 0;
       background: color('black');
     }

     &.active {
       span {
         background: color('white');
       }
       .top {
         position: absolute;
         top: 50%;
         transform: translateY(-50%) rotate(-30deg);
       }
       .middle {
         transform:scale(0);
         opacity: 0;
       }
       .bottom {
         position: absolute;
         top: 50%;
         transform: translateY(-50%) rotate(30deg);
       }
     }

     &:focus {
       outline: 0;
     }
  }

  .mobile-menu {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    min-height: 170px;
    opacity: 0;
    visibility: hidden;

    ul {
      list-style: none;
      text-align: center;
      li {

      }
    }
    &.is-showing {
      opacity: 1;
      visibility: visible;
    }
  }

  @media #{$medium-up} {
    display: none;
  }
}
