{% extends "templates/partials/base.html" %}
{% set home = cms.home %}
{% set featuredProjects = cms.work|where('type','Current')|slice(0,3) %}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}
<div id='index' class="relative route-padding-top pointer-none z1 bg-white">
  <div class='clearfix site-min-height bg-white'>
    <div class='max-width-4 clearfix mx-auto'>
      <div class='col col-12 py4 px2'>
        {{ home.intro|markdown }}
      </div>
    </div>
    <div class='max-width-3 mx-auto'>
      <div class='col col-12 p2'>
        <img class='full fit' src="{{home.image_block.image.url}}" />
        <div class="pt1 pb4 center">
          {{home.subline|markdown}}
        </div>
      </div>
    </div>
  </div>

  {% for project in featuredProjects %}
    <article data-midnight="header-{{project.text_color}}-{{project.block_color}}" class='home-block clearfix pointer-auto' style='color: {{project.text_color}}; background-color:{{project.block_color}}'>
      <div class='title-bar z4' style='background-color:{{project.block_color}}'>
        <h1 class='center pb2 pt3'>{{project.name}}</h1>
      </div>
      <div class='max-width-4 mx-auto'>
        <div class='col col-12 p2 {% if loop.last %} mb4 {% endif %} '>
          <img class='col-12' src='{{project.featured_image.url}}' />
          <p class='py2 p4-medium-up'>{{project.summary}}</p>
          <div class="relative">
            <!-- THIS ORDER IS IMPORTANT -->
            <button class="last-arrow_modified pointer-auto z1">
              <svg xmlns="http://www.w3.org/2000/svg" width="77" height="49" viewBox="0 0 77 49">
                <g fill="none">
                  <g fill={{project.text_color}}>
                    <g transform="translate(-1156 -5813)translate(1156 5812)">
                      <polygon points="1 27 71.2 27 71.2 23 1 23"/>
                      <polygon transform="translate(52.014973 25.079942)rotate(-315)translate(-52.014973 -25.079942)" points="65 12 65 42.2 69 42.2 69 8 35 8 35 12"/>
                    </g>
                  </g>
                </g>
              </svg>
            </button>
            <div class='image-slider center'>
              {% for image in project.gallery %}
                <div>
                  <img class="image-slider-img mx-auto" src="{{image.url}}" />
                </div>
              {% endfor %}
            </div>
            <!-- THIS ORDER IS IMPORTANT -->
            <button class="next-arrow_modified pointer-auto z1">
              <svg xmlns="http://www.w3.org/2000/svg" width="77" height="49" viewBox="0 0 77 49">
                <g fill="none">
                  <g fill={{project.text_color}}>
                    <g transform="translate(-1156 -5813)translate(1156 5812)">
                      <polygon points="1 27 71.2 27 71.2 23 1 23"/>
                      <polygon transform="translate(52.014973 25.079942)rotate(-315)translate(-52.014973 -25.079942)" points="65 12 65 42.2 69 42.2 69 8 35 8 35 12"/>
                    </g>
                  </g>
                </g>
              </svg>
            </button>
          </div>
          <div class="py4">
            <p class='center py2 mb4 mx-auto'><a href={{ url(project)}}>See more</a></p>
          </div>
        </div>
      </div>
      {% if loop.last %}
        <div class="absolute bottom-0 center col-12 bg-red py3">
          <h3><a href="/work" target="_blank">See Everything</a></h3>
        </div>
      {% endif %}
    </article>
  {% endfor %}
</div>
{% endblock %}
