{% extends "templates/partials/base.html" %}
{% set featuredProjects = cms.work|where('type','Current')|slice(0,3) %}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}
<div id='index' class="relative mb4 route-padding-top pointer-none">
  <div class='clearfix site-min-height bg-white'>
    <div class='max-width-4 clearfix mx-auto'>
      <div class='col col-12 p2'>
        <p class='mb3'>
This is an opening statement that can change and stuff and it’s not our bio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat feugiat ex, et hendrerit turpis tincidunt nec. Fusce vulputate viverra mi, efficitur links are underlined interdum at. Fusce et posuere mi. Maecenas ullamcorper maximus quam, in porttitor lacus pulvinar vel. Proin vel laoreet magna. Donec finibus sed metus a bibendum.
        </p>
      </div>
    </div>
    <div class='max-width-3 mx-auto'>
      <div class='col col-12 p2'>
        <img class='full fit' src='http://via.placeholder.com/350x250' />
        <p>
        Lorem ipsum dolor sit amet,consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </div>

  {% for project in featuredProjects %}
    <article class='home-block clearfix pointer-auto' style='color: {{project.text_color}}; background-color:{{project.block_color}}'>
      <div class="nav-container relative overflow-hidden" style="min-height:200px; bottom:125px">
        <header class='header chameleon-nav col-12 z4 py2 absolute top-0 flex items-center'>
          <a href="/" class="md-col-4 lg-col-3"><h1 class=' pl2 left-align regular'>PLAYLAB, INC.</h1></a>
          <ul class='nav-menu md-col-4 lg-col-6 h1 m0 flex justify-around list-reset' style="color: {{project.text_color}};">
            <a href="/work"><li data-route="work" class='nav-link'>Work</li></a>
            <a href="/info"><li data-route="info" class='nav-link'>Info</li></a>
            <a href="/shop"><li data-route="shop" class='nav-link'>Shop</li></a>
          </ul>
          <a href="#" class="md-col-4 lg-col-3"><h3 class='pr2 right-align regular'>917-979-3489<h3></a>
        </header>
      </div>

      <div class='title-bar' style='background-color:{{project.block_color}}'>
        <h1 class='center py2'>{{project.name}}</h1>
      </div>
      <div class='max-width-4 mx-auto'>
        <div class='col col-12 p2'>
          <img class='col-12' src='{{project.featured_image.url}}' />
          <p class='p4-medium-up'>{{project.summary}}</p>
          <div class="relative">
            <div class='image-slider center'>
              {% for image in project.gallery %}
                <div>
                  <img class="image-slider-img mx-auto" src="{{image.url}}" />
                </div>
              {% endfor %}
            </div>
            <!-- THIS ORDER IS IMPORTANT -->
            <button class="next-arrow_modified">
              <svg xmlns="http://www.w3.org/2000/svg" width="77" height="49" viewBox="0 0 77 49">
                <g fill="none">
                  <g fill={{project.text_color}}>
                    <g transform="translate(-1156 -5813)translate(1156 5812)">
                      <polygon points="1 27 71.2 27 71.2 23 1 23"/>
                      <polygon transform="translate(52.014973 25.079942)rotate(-315)translate(-52.014973 -25.079942)" points="65 12 65 42.2 69 42.2 69 8 35 8 35 12"/>
                    </g>
                  </g>
                </g>
              </svg>
            </button>
          </div>
          <div class="py4">
            <p class='center py2 mx-auto'><a href={{ url(project)}} class="link-style">See more</a></p>
          </div>
        </div>
      </div>
    </article>
  {% endfor %}
  <div class='intro-trigger clearfix site-min-height bg-white'>
    <div class='max-width-4 mx-auto pt3'>
      <div class='col col-12 p2'>
        <p class='mb3'>
This is an opening statement that can change and stuff and it’s not our bio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat feugiat ex, et hendrerit turpis tincidunt nec. Fusce vulputate viverra mi, efficitur links are underlined interdum at. Fusce et posuere mi. Maecenas ullamcorper maximus quam, in porttitor lacus pulvinar vel. Proin vel laoreet magna. Donec finibus sed metus a bibendum.
        </p>
      </div>
    </div>
    <div class='max-width-3 mx-auto'>
      <div class='col col-12 p2'>
        <img class='full fit' src='http://via.placeholder.com/350x250' />
        <p>
        Lorem ipsum dolor sit amet,consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
