{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}
<div id='index' class="z1 relative mb4 footer-room">
  <div class='clearfix mt4 site-min-height bg-white'>
    <div class='max-width-4 mx-auto pt3'>
      <div class='col col-12 p2'>
        <p class='mb3'>
This is an opening statement that can change and stuff and it’s not our bio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat feugiat ex, et hendrerit turpis tincidunt nec. Fusce vulputate viverra mi, efficitur links are underlined interdum at. Fusce et posuere mi. Maecenas ullamcorper maximus quam, in porttitor lacus pulvinar vel. Proin vel laoreet magna. Donec finibus sed metus a bibendum.
        </p>
      </div>
    </div>
    <div class='max-width-3 mx-auto'>
      <div class='col col-12 p2'>
        <img class='full fit' src='http://via.placeholder.com/350x250' />
        <p>
        Lorem ipsum dolor sit amet,consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </div>

  {% for work in cms.work %}
    <article class='home-block clearfix' style='background-color:{{work.block_color}}'>
      <div class='title-bar' style='background-color:{{work.block_color}}'>
        <h1 class='center py2'>{{work.name}}</h1>
      </div>
      <div class='max-width-4 mx-auto'>
        <div class='col col-12'>
          <img class='col-12' src='{{work.featured_image.url}}' />
          <p class='p4'>{{work.summary}}</p>
          <div class='center'>
            {% for image in work.gallery %}
              {% if image|first %}
                <img class='col-10 p2' src='{{image.url}}'/>
              {% endif %}
            {% endfor %}
          </div>
          <p class='center py2'>See more</p>
        </div>
      </div>
    </article>
  {% endfor %}
  <div class='intro-trigger clearfix site-min-height bg-white'>
    <div class='max-width-4 mx-auto pt3'>
      <div class='col col-12 p2'>
        <p class='mb3'>
This is an opening statement that can change and stuff and it’s not our bio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat feugiat ex, et hendrerit turpis tincidunt nec. Fusce vulputate viverra mi, efficitur links are underlined interdum at. Fusce et posuere mi. Maecenas ullamcorper maximus quam, in porttitor lacus pulvinar vel. Proin vel laoreet magna. Donec finibus sed metus a bibendum.
        </p>
      </div>
    </div>
    <div class='max-width-3 mx-auto'>
      <div class='col col-12 p2'>
        <img class='full fit' src='http://via.placeholder.com/350x250' />
        <p>
        Lorem ipsum dolor sit amet,consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
