{# ------------------------------------------------------- #}
{# ONE OFF VIEW info #}
{# This page can use any data from http:localhost:2000/cms/#/form/info/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this info's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.info.name }}{% endblock %}
{% block content %}
  <div id='info' class="z1 relative site-min-height route-padding-top">
    <article class="info sticky-top-wrapper bg-white center pb4">
      <div class="md-col-8 mx-auto px2 left-align">
        <p>{{cms.info.about}}</p>
        <div class="image-block col-8 mx-auto my4 {{cms.info.image_block.crop}}">
          <div class="content image"
               style='background-image: url({{cms.info.image_block.image.url}})'>
          </div>
        </div>
        <p class="center">{{cms.info.updates}}</p>
      </div>
    </article>
    <article class="info sticky-bottom-wrapper center bg-black white">
      <div class="bottom-header info-header fixed-bottom bg-black transform-3d">
        <ul class="flex justify-around list-reset m0 py2 bg-black">
        {% for section in cms.info.subsection %}
          <li data-type={{section.title}} class="info-tab pointer {% if loop.first %} active-tab {% endif %}">{{section.name}}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="bottom-content-wrapper">
        <div id="info-subsection" class="p2">
        {% for section in cms.info.subsection %}
          {% include "templates/partials/info-sub-section.html" %}
        {% endfor %}
        </div>
      </div>
    </article>
  </div>
{% endblock %}
