{# ------------------------------------------------------- #}
{# ONE OFF VIEW shop #}
{# This page can use any data from http:localhost:2000/cms/#/form/shop/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this shop's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.shop.name }}{% endblock %}
{% block content %}
  <div id="shop" class="relative z1 bg-white">

    <div data-midnight="transparent" class="shop-slider height-100 col-12">
      {% for product in cms.products %}
        <div class="product-slide relative" data-product-hash="{{product.url}}">
          <div class="product-image-slider col-12 height-100">
            {% for image in product.gallery %}
              <div class="height-100" style="background-image: url({{image.url}}); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
            {% endfor %}
          </div>
          <button class="next-arrow pointer-auto z1">
            <svg xmlns="http://www.w3.org/2000/svg" width="77" height="49" viewBox="0 0 77 49">
              <g fill="none">
                <g fill='white'>
                  <g transform="translate(-1156 -5813)translate(1156 5812)">
                    <polygon points="1 27 71.2 27 71.2 23 1 23"/>
                    <polygon transform="translate(52.014973 25.079942)rotate(-315)translate(-52.014973 -25.079942)" points="65 12 65 42.2 69 42.2 69 8 35 8 35 12"/>
                  </g>
                </g>
              </g>
            </svg>
          </button>
          {% if product.gradient %}
            <div class="gradient-overlay image-gradient"></div>
          {% endif %}
          <div class="product-details pointer-none col-12 md-col-6 white z4">
            <div class="max-width-2">
              <h2 class="title uppercase pb1">{{product.name}}</h2>
              <p class="description">{{product.description}}</p>
            </div>
            <div class="product-purchase bg-transparent mt3 pointer-auto">
              <select class="variant-select col-12 block mb3 {% if product.variants.length <= 1 %}hide{% endif %}">
                {% for variant in product.variants %}
                <option value={{variant.value}}>{{variant.label}}</option>
                {% endfor %}
              </select>
              <div class="buy-container">
                <p class="price inline-block">${{product.price}}</p>
                <p class="qt-label inline-block">QTY:<input class="quant center p2" type="number" inputmode="numeric" pattern="[0-9]*" min="1" max="9" value="1"/></p>
                {% if product.sold_out %}
                  <button class="buy-button sold-out p2 inline-block" disabled>
                    <p class="uppercase">Sold Out</p>
                  </button>
                {% else %}
                  <button class="buy-button p2 inline-block">
                    <p class="uppercase">Buy</p>
                  </button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="shop-dots"></div>
  </div>
{% endblock %}
