{# ------------------------------------------------------- #}
{# ONE OFF VIEW shop #}
{# This page can use any data from http:localhost:2000/cms/#/form/shop/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this shop's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.shop.name }}{% endblock %}
{% block content %}
  <div id="shop" class="relative z1">
    {% for product in cms.products %}
      <div class="product col-12" style="background-image: url({{product.featured_image.url}})">
        <img class="height-100 col-12" src="/static/images/shop-gradient.png"/>
        <div class="product-details col-10 md-col-3 white">
          <h2 class="title caps">{{product.name}}</h2>
          <p class="description">{{product.description}}</p>
        </div>
        <div class="product-purchase white">
          <p>${{product.price}}</p>
          <button class="caps">Buy</button>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
