{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this products's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% set projectType = item.type %}
{% block content %}
  <div id="work-show" class="site-min-height route-padding-top relative col-12 z1" style="color:{{item.text_color}};background-color:{{item.block_color}}">
    <div>
      <h1 class="center pb4">{{item.name}}</h1>
    </div>
    <!-- Work Block Renderer -->
    {% for block in item.blocks %}
      {% if block.variant === 'featured-image' %}
        <img class="col-10 mx-auto block" src={{block.featured_image.image.url}} />
        {% elseif block.variant === 'image-slider' %}
          <div class="col-10 md-col-8 mx-auto">
            <div class="relative">
              <div class='image-slider center'>
                {% for slide in block.image_slider %}
                  <div>
                    <img class="image-slider-img mx-auto" src="{{slide.image.url}}" />
                  </div>
                {% endfor %}
              </div>
              <!-- THIS ORDER IS IMPORTANT -->
              <button class="next-arrow_modified">
                <svg xmlns="http://www.w3.org/2000/svg" width="77" height="49" viewBox="0 0 77 49">
                  <g fill="none">
                    <g fill={{item.text_color}}>
                      <g transform="translate(-1156 -5813)translate(1156 5812)">
                        <polygon points="1 27 71.2 27 71.2 23 1 23"/>
                        <polygon transform="translate(52.014973 25.079942)rotate(-315)translate(-52.014973 -25.079942)" points="65 12 65 42.2 69 42.2 69 8 35 8 35 12"/>
                      </g>
                    </g>
                  </g>
                </svg>
              </button>
            </div>
          </div>
        {% elseif block.variant === 'paragraph' %}
          <div class="col-10 md-col-8 mx-auto">
            <p class="p4-medium-up">{{block.paragraph}}</p>
          </div>
        {% elseif block.variant === 'two-up' %}
          <div class="col-12 mx-auto clearfix">
            <div class="col col-12 md-col-6 p4 md-center">
              <div class="image-block col-12 {{block.image_left.crop}}">
                <div class="content image"
                     style='background-image: url({{block.image_left.image.url}})'>

                </div>
              </div>
              <p class="py2 small">{{block.image_left.caption}}</p>
            </div>
            <div class="col col-12 md-col-6 p4 md-center">
              <div class="image-block col-12 {{block.image_right.crop}}">
                <div class="content image"
                     style='background-image: url({{block.image_right.image.url}})'>

                </div>
              </div>
              <p class="py2 small">{{block.image_right.caption}}</p>
            </div>
          </div>
        {% elseif block.variant === 'one-up' %}
          <div class="col-10 md-col-8 mx-auto md-center">
            <img class="col-12" src={{block.featured_image.image.url}} />
            <p class="py2 small">{{block.featured_image.caption}}</p>
          </div>
        {% elseif block.variant === 'image-copy' %}
          <div class="col-12 mx-auto clearfix">
            {% if block.image_right %}
              <div class="col col-12 md-col-6 p4">
                <div class="image-block col-12 {{block.image_right.crop}}">
                  <div class="content image"
                       style='background-image: url({{block.image_right.image.url}})'>

                  </div>
                </div>
              </div>
              <div class="col col-12 md-col-6 p4">
                <p class="py2">{{block.paragraph}}</p>
              </div>
            {% else %}
              <div class="col col-12 md-col-6 p4">
                <p class="py2">{{block.paragraph}}</p>
              </div>
              <div class="col col-12 md-col-6 p4">
                <img class="col-12" src={{block.image_right.image.url}} />
              </div>
            {% endif %}
          </div>
      {% endif %}
    {% endfor %}
    {% include "templates/partials/prev-next-select.html" %}
  </div>
{% endblock %}
