{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this work's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.work.name }}{% endblock %}
{% block content %}
{% set currentProjects = cms.work|where('type','Current') %}
{% set archivedProjects = cms.work|where('type','Archive') %}
<div data-midnight="header-#000000-#ECEAEA" id='work-index' class="z1 relative bg-grey site-min-height route-padding-top">
  <article data-midnight="header-#000000-#ECEAEA" class="work sticky-top-wrapper bg-grey center">
    <div class="col-12 flex flex-wrap justify-around">
      {% for project in currentProjects %}
        {% if loop.index % 2 === 1 %}
          <div class="col-12 flex flex-wrap justify-around">
        {% endif %}
          <div class="col-12 md-col-6">
            <a class="block height-100 reset-link" href="{{ url(project) }}">
              <div class="project-col left-align height-100">
                <div class="project-container flex flex-column items-center height-100">
                  <div class="col-12 lg-col-7 flex items-center justify-center grow-1">
                    <div class="image-block col-10 {{project.thumbnail.crop}} {% if project.thumbnail.crop === 'Landscape' %}col-12{% else %} col-10 {% endif %}">
                      <div class="content image"
                           style='background-image: url({{project.thumbnail.image.url}})'>

                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt3">
                    <p>{{project.subtitle}}</p>
                    <p class="uppercase">{{project.name}}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        {% if loop.index % 2 === 0 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </article>
  <article data-midnight="header-#ffffff-#000000" class="work sticky-bottom-wrapper center bg-black white">
    <div class="bottom-header fixed-bottom transform-3d pointer">
      <h1 class="py2 bg-black">Archive</h1>
    </div>
    {% for project in archivedProjects %}
      {% if loop.index % 2 === 1 %}
        <div class="col-12 flex flex-wrap justify-around">
      {% endif %}
          <div class="col-12 md-col-6">
            <a class="block height-100 reset-link" href="{{ url(project) }}">
              <div class="project-col left-align height-100">
                <div class="project-container flex flex-column items-center height-100">
                  <div class="col-12 lg-col-7 flex items-center justify-center grow-1">
                    <div class="image-block {{project.thumbnail.crop}} {% if project.thumbnail.crop === 'Landscape' %}col-12{% else %} col-10 {% endif %}"  >
                      <div class="content image"
                           style='background-image: url({{project.thumbnail.image.url}})'>

                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt3">
                    <p>{{project.subtitle}}</p>
                    <p class="uppercase">{{project.name}}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
      {% if loop.index % 2 === 0 %}
        </div>
      {% endif %}
    {% endfor %}
  </article>
</div>
{% endblock %}
